@using EntityLayer.Concrete
@model Writing

@{
	ViewData["Title"] = "EditWriting";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit Writing Page</h1>
<br />
<form asp-action="EditWriting" method="post">
	<input type="hidden" asp-for="WritingId" value="@Model.WritingId" />
	<input type="hidden" asp-for="Image" />
	<input type="text" class="form-control mb-1" asp-for="Heading" value="@Model.Heading" />
	<input type="text" class="form-control mb-1" asp-for="Content" value="@Model.Content" />
	<input type="hidden" asp-for="CreatedDate" value="@Model.CreatedDate" />
	<input type="hidden" asp-for="Status" value="@Model.Status" />
	<input type="file" class="form-control mb-1" asp-for="Image" />
	<button type="submit" class="btn btn-success">Save</button>
</form>

