@using EntityLayer.Concrete
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Writing>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-route="f" method="post">
    <div class="search-panel">
        <div class="searchbox">
            <input name="f" type="text" class="input" />
            <div class="button">
                <button type="submit"></button>
            </div>
        </div>
    </div>
</form>
<br />
<div class="primary-content marRight30">
    <div class="mid-panel marginBottom10">
        <div class="panel">
            <div class="title">
                <h1>Blog</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipiscing elit </h2>
            </div>
            @foreach (var item in Model)
            {
                <div class="content marginTop">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="~/img/@item.Image" class="marRight30" />
                            </div>
                            <div class="col-8">
                                <div class="row-fluid-cols-3">
                                    <div class="row">
                                        <div class="col-9">
                                            <h2>@(item.Heading.Length > 25 ? item.Heading.Substring(0, 26) + "...":item.Heading)</h2>
                                        </div>
                                        <div class="col-3 p-0">
                                            <label style="font-size: 12px;">@item.CreatedDate.ToString("dd/MM/yyyy")</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <p>@(item.Content.Length > 200 ? item.Content.Substring(0, 201) + "..." : item.Content)</p>
                                    </div>
                                    <div class="col-12">
                                        <a asp-action="Single" asp-route-id="@item.WritingId" class="btn btn-success">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @Html.PagedListPager((IPagedList)Model, p => Url.Action("Home", new { p }), new X.PagedList.Web.Common.PagedListRenderOptions
    {
    LiElementClasses = new List<string>
    {"page-link"}
    })
</div>

